<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wxm.camerajob">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".base.utility.ContextUtil"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".base.receiver.AlarmReceiver" />
        <!-- android:process=":remote" /> -->

        <activity android:name=".ui.activitys.ActivityStart">
        </activity>
        <activity android:name=".ui.activitys.test.ActivityTest" />
        <activity android:name=".ui.activitys.ActivityJob" />

        <service
            android:name=".jobservice.CameraJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".ui.activitys.ActivityCameraSetting" />
        <activity android:name=".ui.activitys.test.ActivityTestSilentCamera" />
        <activity android:name=".ui.activitys.test.ActivityCamerJobShow" />
        <activity android:name=".ui.activitys.ActivityCameraJobPhotos" />
        <activity android:name=".ui.activitys.ActivityNavStart"
                  android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>