<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wxm.camerajob">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".base.utility.ContextUtil"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_camera_lable"
        android:label="@string/cn_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="andriod:label">
        <receiver android:name=".base.receiver.AlarmReceiver" />
        <!-- android:process=":remote" /> -->

        <activity
            android:name=".ui.test.ActivityTest"
            android:exported="true" />
        <activity
            android:name=".ui.acinterface.ACJobCreate"
            android:label="@string/job_create" />

        <service
            android:name=".jobservice.CameraJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".ui.acutility.ACCameraSetting" />
        <activity android:name=".ui.test.ActivityTestSilentCamera" />
        <activity
            android:name=".ui.acinterface.ACCameraJobPhotos"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.acinterface.ACNavStart"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.acinterface.ACHelp" />
        <activity
            android:name=".ui.acutility.ACCameraPreview"
            android:exported="true" />
        <activity android:name=".ui.acutility.ACSetting" />
        <activity android:name=".ui.acutility.ACJobSlide" />
        <activity android:name=".ui.acutility.ACEmailTest"
            android:label="测试邮箱"
            android:exported="true"/>
    </application>

</manifest>